.ct-pb-8 {
  padding-bottom: $space-8 !important;
}

.ct-mb-0 {
  margin-bottom: $space-0 !important;
}

.ct-mb-14 {
  margin-bottom: $space-14 !important;
}

.ct-mb-20 {
  margin-bottom: $space-20;
}

.ct-mb-36 {
  margin-bottom: $space-36;
}

.ct-pt-8 {
  padding-top: $space-8 !important;
}

.ct-mt-20 {
  margin-top: $space-20;
}

.ct-mt-30 {
  margin-top: $space-30;
}

.ct-m-0-auto {
  margin: 0 auto;
}

.ct-m-auto-0 {
  margin: auto 0;
}

.ct-mr-1 {
  margin-right: $space-1;
}

.ct-m-inherit {
  margin: inherit;
}

.ct-pl-70 {
  padding-left: $space-70 !important;
}

.ct-pr-40 {
  padding-right: $space-40 !important;
}
