.ct-font-12 {
  font-size: $font-size-sm;
}

.ct-font-14 {
  font-size: $font-size-base;
}

.ct-font-24 {
  font-size: $font-size-xl;
}

.ct-font-gray-1 {
  color: $gray-1;
}

.ct-font-gray-2 {
  color: $gray-2;
}

.ct-font-gray-3 {
  color: $gray-3;
}

.ct-fw-light {
  font-weight: $font-weight-light;
}

.ct-fw-normal {
  font-weight: $font-weight-normal;
}

.ct-fw-bold {
  font-weight: $font-weight-bold;
}

.ct-fw-ex-bold {
  font-weight: $font-weight-extra-bold;
}

.ct-cursor-pointer {
  cursor: pointer;
}
