$font-size-base: 14px !default;
$font-size-xl: 24px !default;
$font-size-lg: 18px !default;
$font-size-sm: 12px !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;
$font-weight-extra-bold: 700 !default;

$white: #fff;
$gray-1: #333333;
$gray-2: #4f4f4f;
$gray-3: #828282;
$gray-4: #231f20;
$gray-5: #f1f4ff;
$gray-6: #f2f2f2;
$gray-7: #f7f7f7;
$black: #000;
$green: #1c9151;
$blue: #1c3391;

$space-0: 0px;
$space-1: 1px;
$space-2: 2px;
$space-3: 3px;
$space-4: 4px;
$space-5: 5px;
$space-6: 6px;
$space-7: 7px;
$space-8: 8px;
$space-9: 9px;
$space-10: 10px;
$space-11: 11px;
$space-12: 12px;
$space-13: 13px;
$space-14: 14px;
$space-15: 15px;
$space-16: 16px;
$space-17: 17px;
$space-18: 18px;
$space-19: 19px;
$space-20: 20px;
$space-21: 21px;
$space-22: 22px;
$space-23: 23px;
$space-24: 24px;
$space-25: 25px;
$space-26: 26px;
$space-27: 27px;
$space-28: 28px;
$space-29: 29px;
$space-30: 30px;
$space-31: 31px;
$space-32: 32px;
$space-33: 33px;
$space-34: 34px;
$space-35: 35px;
$space-36: 36px;
$space-37: 37px;
$space-38: 38px;
$space-39: 39px;
$space-40: 40px;
$space-70: 70px;
